.movie-inner {
    color: black;
    &__title {
        font-size: 15px;
        font-weight: bold;
        color: orange;
       margin:10px auto;
    }

    mat-icon {
        color: orange;
        font-size: 12px;
        &.favorite{
            color: crimson;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                color: orange;  
            }
        }
    }
    a{
        color: black;
        text-decoration: none;
        transition: 0.3s;
        display: block;
        &:hover{
            color: orange;
        }
    }
    img{
        width: auto;
        height: 350px;
        max-width: 100%;
    }
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}