<div class="movie-inner">

  <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path">
  <img src="assets/img/no-image.png" *ngIf="!movie.poster_path">
  <div class="caption">
      <a routerLink="/movie/{{movie.id}}">
    <div
      class="text-ellipsis movie-inner__title">{{movie.title}}</div>
    </a>
    <mat-icon aria-hidden="false" class="float-right favorite" (click)="addToCollection()">favorite</mat-icon>

    <div>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <mat-icon aria-hidden="false">star</mat-icon>

      </small>
    </div>
  </div>

</div>