<ul class="list-group" *ngFor="let movie of model.movies">
  {{movie}}
  <li class="list-group-item list-group-item-warning">
    <a routerLink="/movie/{{movie.id}}">{{movie.movie.title}}</a>
     <button type="button" class="btn btn-danger float-right" (click)="deleteMovie(movie.id, model.title)">Delete</button>
  </li>
</ul>
<div class="message" *ngIf="model && model.length === 0">No movies</div>