<header>
  <div class="container">
    <a class="logo" routerLink="/"><img src="../assets/img/logo.png">Movies</a>
    <a routerLink="/collection" class="float-right favorite">
      <mat-icon aria-hidden="false" >favorite</mat-icon> Collection
    </a>
  </div>
</header>
<div class="app-container">
  <div class="container app-container__inner">
    <router-outlet></router-outlet>
  </div>
  <footer>
    &copy; 2019 Araksya
  </footer>
</div>
<!--/.container-->