* {
    box-sizing: border-box;
}

.app-container {
    color: white;

    &__inner {
        min-height: calc(100vh - 80px);
    }

    footer {
        background: orange;
        height: 40px;
        padding: 10px;
        text-align: center;

    }
}

.favorite {
    margin-top: 5px;
    cursor: pointer;

    mat-icon {
        vertical-align: sub;
    }
}

header {
    height: 40px;
    background: orange;
    color: crimson;

    img {
        height: 40px;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        padding: 5px;
    }

    a {
        color: crimson;
        text-decoration: none;
        transition: 0.3s;
        font-weight: bold;

        &:hover {
            color: white;
            transition: 0.3s;
        }
    }
}