<h1 mat-dialog-title>Collections List</h1>
<div mat-dialog-content>
  <div *ngIf="!model">
    <p>You don't have collection? Add one!</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Title" aria-label="title" matInput [(ngModel)]="title">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Description" aria-label="description" matInput
        [(ngModel)]="description">
    </div>
    <button mat-button type="button" class="btn btn-primary" (click)="saveCollection()"
      [disabled]="title === '' || description === ''">Save</button>
  </div>
</div>
<div *ngIf="model && model.length > 0">
  <ul class="list-group" *ngFor="let collection of model">
    <li class="list-group-item" (click)="addMovies(collection.title)">{{collection.title}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>