<div class="collection">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p>Do you want new collection? Add one!</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Title" aria-label="title" matInput [(ngModel)]="title">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Description" aria-label="description" matInput
            [(ngModel)]="description">
        </div>
        <button mat-button type="button" class="btn btn-primary" (click)="saveCollection()"
          [disabled]="title === '' || description === ''">Save</button>
        <div class="message" *ngIf="message !== ''">{{message}}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <ul class="list-group" *ngFor="let collection of model">
        <li class="list-group-item list-group-item-warning" routerLink="/collection-movies/{{collection.title}}">
          {{collection.title}}</li>
      </ul>
    </div>
  </div>
</div>