<form (keydown)="keyUp($event)" class="search-form">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for movies..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies()">
      <div class="search"></div>
    </div>
    <!-- /input-group -->
  </div>
</form>
<div *ngIf="model.results">
  <h3>Search Results</h3>
  <div *ngIf="model.results.length > 0">
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of model.results; let i = index;">
      <app-movie-inner [movie]="movie"></app-movie-inner>
    </div>
  </div>
    <mat-paginator #paginator
    [length]="model.total_results"
    [pageIndex]=0
    (page)="getNext($event)"></mat-paginator>  
  </div>
  <div *ngIf="!results || results.length==0" class="search-form__noresults"> No Results</div>
</div>