<div class="row movie" *ngIf="movie.id">
  <div class="col-sm-6">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail">
  </div>
  <div class="col-sm-6">
    <h2>{{movie.title}}
      <small class="label label-warning" *ngIf="movie.vote_average>0">
        {{movie.vote_average}}
        <mat-icon aria-hidden="false">star</mat-icon>
      </small>
    </h2>
    <div>Rate the movie
      <star-rating value="0" checkedcolor="crimson" uncheckedcolor="gray" size="24px" readonly="false"
        (rate)="onRate($event)"></star-rating>
        <span *ngIf="message !== ''" class="message">{{message}}</span>
    </div>
    <p *ngIf="movie.vote_count>0">Voted by {{movie.vote_count}} people</p>
    <p>Budget:{{movie.budget}}</p>
    <p>Release Date: {{movie.release_date | date:'dd/MM/yyyy'}}</p>
    <p>Revenue:{{movie.revenue}}</p>
    <div *ngFor="let lang of movie.spoken_languages">
      <span>{{lang.name}}</span>
    </div>
    <div *ngIf="movie.overview">
      <h3>Overview</h3>
      <p>
        {{movie.overview}}
      </p>
    </div>
  </div>
</div>